################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CppStream/.vs/CppStream/v14/.suo
/CppStream/CppStream/x64/Debug/CppStream.tlog
/CppStream/CppStream/x64/Debug/vc140.pdb
/CppStream/CppStream/x64/Debug/vc140.idb
/CppStream/CppStream/x64/Debug/ring_buffer_main.obj
/CppStream/CppStream/x64/Debug/MurmurHash3.obj
/CppStream/CppStream/x64/Debug/main.obj
/CppStream/CppStream/x64/Debug/CppStream.log
*.obj
*.log
*.tlog
*.dll
*.pdb
*.idb
*.suo
*.db
*.user
*.lastbuldstate
*.ipch
*.exe
*.ilk
*.lib
*.iobj
*.ipdb
*.exp
*.htm
